.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.content {
  margin: 2em auto;
  width: 600px;
  max-width: 100%;
}

.footer {
  margin-bottom: 40px;
}
